<p>{{title}} ({{cells?.length || 0}})</p>
<div *ngFor="let cell of cells"
     class="cell"
     [ngClass]="{
       mod3: cell.value % 3 === 0,
       mod5: cell.value % 5 === 0
     }">
  {{cell.value}}
  <button (click)="onRemoveCell(cell)">X</button>
</div>
<input placeholder="Add number"
       type="number"
       [ngClass]="{error: numberControl.dirty && numberControl.hasError('required')}"
       [formControl]="numberControl">
<button type="submit"
        (click)="onAddNumber()">OK</button>
