:host {
  display: block;
  width: 15rem;
  background-color: grey;
  color: white;

  .cell {
    background-color: red;
    color: black;

    &.mod3 {
      background-color: limegreen;
    }
    &.mod5 {
      background-color: dodgerblue;
    }
    &.mod3.mod5 {
      background-color: yellow;
    }
  }

  input.error {
    border: solid 1px red;
  }
}
